/*
body{
  padding-top:50px;
  background: #555;
}
.flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 270px;
    height: 178px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
   
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   width: 270px;
   z-index: 1;
}
.flip .card .img {
   position: relaitve;
   width: 270px;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
  .inner{margin:0px !important;}

*/




header .logophoto {
  position: relative;
  top: -12px;
}

#about h2, #product h2, #testimonials h2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: 0;
  font-size: 40px;
  font-family: "Merriweather", sans-serif;
}

#contact h2 {
  padding-top: 30px;
}

#about h2, #testimonials h2, #contact h2, #product h2 {
  margin-bottom: 30px;
}


#about h2:hover , #testimonials h2:hover , #contact h2:hover , #product h2:hover {
  color: white;
  text-shadow: 1px 1px black;
}

#about {
  font-family: "Vollkorn";
}

#about h3.aboutheader, #product h3.productheader {
  text-align: center;
  font-weight: 700;
}


.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.purchasebox h3 {
  padding-bottom: 10px;
  font-family: "Vollkorn";
  font-size: 50px;
  margin-top: 0;
}
/* Header End */





/* 
Nav Bar Start */

header .navbar {
    padding-top: 30px;
}

header .navbar-default {
    background: none;
  background-color: rgba(0,0,0, .09);
    border: none;
  box-shadow: none;
}

header .navbar-default .navbar-nav a, .navbar-brand {
    color: black;
    padding: 5px 8px;
  font-size: 20px;
  font-family: "Vollkorn";
}

header .navbar-default {
  margin-bottom: 0px;
padding-top: 0px;
padding-bottom: 0px;
}


header .navbar-default .navbar-nav a:hover {
    color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
    font-weight: 700;
    color: #EEC856;
    background: transparent;
    border-bottom: 4px solid #EEC856;
    text-shadow: none;
  font-family: "Vollkorn"
}


header .navbar-default .navbar-nav .active a:hover {
    color: #E15D5F;
    background: transparent;
    text-shadow: none;
}


header .navbar-brand {
   background: url("");
    background-repeat: no-repeat;
   
 
  display: block;
  padding-bottom: 10px;
}

header .navbar-brand a {
  font-family: 'Merriweather';
  font-size: 50px;
}

header .navbar-default .navbar-header a {
padding-left: 48px;
    padding-top: 50px;
  color: #121289;
   text-shadow: 1px 1px white;
  font-family: "Vollkorn", sans-serif;
}

ul.navbar-right {
  padding-top: 30px;
}

/* Nav Bar End */


/* 
Body Start */

body {
    padding-bottom: 20px;
   font-family: "Vollkorn", sans-serif;
  position: relative;
 
}




.tile-1 {
  text-align: center;
  background-image: url("image/IMG_4971.JPG");
  height: 100px;
    width: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-size:200px 200px;
  
}

.tile-2 {
  text-align: center;
  background-image: url("image/IMG_4971.JPG");
  height: 100px;
    width: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-size:200px 200px;
  
}

.tile-3 {
  text-align: center;
  background-image: url("image/IMG_4971.JPG");
  height: 100px;
    width: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-size:200px 200px;
  
}

.tile-4 {
  text-align: center;
  background-image: url("image/IMG_4971.JPG");
  height: 100px;
    width: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-size:200px 200px;
  
}

.tile-5 {
  text-align: center;
  background-image: url("image/IMG_4971.JPG");
  height: 100px;
    width: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-size:200px 200px;
  
}

.tile-6 {
  text-align: center;
  background-image: url("image/IMG_4971.JPG");
  height: 100px;
    width: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-size:200px 200px;
  
}

 
.caption{
    background-color: rgba(50,50,50,0.4);
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    margin: 150px 0px 0px 0px;
    height: 200px;
    width: 200px;
}
 
.caption:hover {
    transition: margin .5s;
    margin: 0px 0px 20px 0px;
    background-color: rgba(50,50,50,0.4);
    cursor: pointer;
}
 
#description{
    overflow: hidden;
    margin: 25px 0px 0px 0px;
}







#about p {
  font-size: 16px;
}

.img-responsive {
  margin: auto;
  width: 100%;
  
}

img.testimonial {
  max-width: 350px;
}

#testimonials .background:hover {
  background-color: rgba:(239,240,196,.9);
}

.background {
  padding: 10px;
  border-radius: 10%;
  background-image: ;
  font-family: "Vollkorn";
  max-width: 200px;
}

#testimonials p::hover {
    background-color: rgba:(239,240,196,.9);
}

.firstquote {
  padding-bottom: 30px;
}

.blockquote-footer {
      font-weight: 700;
    padding-left: 55px;
    color: #14262c;
}

#about, #product, #testimonials, #contact {
 background-image: ;
  padding-bottom: 70px;
  border-top: 20px solid rgba(189, 189, 189, 0.5);
}

.textalign {
  text-align: center;
}

#contact {
  text-align: center;
}

#product ul {
  list-style-type: none;
  font-size: 20px;
  font-family: "Merriweather";
}

#product ul span {
  font-size: 30px;
}


.purchase {
  text-align: center;
  margin-top: 50px;
  padding: 20px;  
}

.purchasebox {
    border: 3px black solid;
  border-radius: 15%;
      width: 400px;
    margin: auto;
    height: 290px;
  max-width: 100%;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-image: ;
  
}

.purchase .purchasepadding {
  padding-top: 120px;
}

.buttonpadding {
  padding-top: 15px;
}

.price {
  font-family: "Merriweather";
  font-size: 50px;
      color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
}


#space {
  background-image: url("image/Books3.jpg");
      height: 500px;
    max-width: 100;
    background-attachment: fixed;
  background-repeat: no-repeat;
    background-size: cover;
}

#space2 {
  background-image: url("image/Books4.jpg");
      height: 500px;
    max-width: 100;
    background-attachment: fixed;
  background-repeat: no-repeat;
    background-size: cover;
}

#space3 {
  background-image: url("image/Books5.jpg");
      height: 500px;
    max-width: 100;
    background-attachment: fixed;
  background-repeat: no-repeat;
    background-size: cover;
}


.row {
  margin-left: 0;
  margin-right: 0;
}


.photo img {
  margin-bottom: 15px;
}

/* Body End */



/*
Aside Start */

#social {
  position: fixed;
  bottom: 0;
  left: 0;
  width:130px;
  height: 70px;
  background:;
  transition: 2s height;
  border-radius: 5%;
}

.Tile-Wide
 

#social:hover {
  height: 200px;
}

aside h2 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
  font-family: "Vollkorn";
  margin-bottom: 5px;
}

ul.social-links {
  padding-left: 50px;
  
}

ul.social-links li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.social-links li {
  text-decoration: none;
  margin: 0;
  padding: 10px 51px 10px 20px;
}

#social i.fa-twitter, i.fa-youtube-play, i.fa-instagram {
  color: white;
}


/* Aside End */


/* 
Footer Start */

footer .navbar-default {
  background: transparent;
  border: 0;
}

/* Footer End */


@media only screen and (max-width: 959px) {
  img.pricetag {
    max-width: 150px;
    height: auto;
  }
    }






